.about-container {
  font-family: var(--main-font);
  color: var(--accent-color);
  font-size: var(--body-size);
  text-align: left;
  font-weight: 300;
  justify-self: left;
}

@media only screen and (max-width: 750px) {
  .about-container {
    font-size: 26px;
    margin: 0px;
  }
}
