.work-wrapper h1 {
  text-align: center;
  color: var(--accent-color-2);
  font-size: calc(var(--body-size) * 0.9);
}
.work-container {
  font-family: var(--main-font);
  color: var(--accent-color-2);
  text-align: left;
  font-weight: 300;
  margin: 0 8%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.work-item {
  background-color: rgba(255, 255, 255, 0.514);
  flex: 1 1 350px;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 25px;
}

.exp {
  background-color: var(--accent-color-2);
}

.proj {
  background-color: var(--main-color);
}

#proj-heading {
  color: var(--main-color);
}
.work-heading {
  padding: 20px;
  border-radius: 20px 20px 0px 0px;
  color: var(--background-color);
  font-size: calc(var(--body-size) * 0.65);
}

.work-desc {
  padding: 0 20px 20px 20px;
  font-size: calc(var(--body-size) * 0.5);
}

.btn-container {
  margin: 25px 0 10px 0;
}

.code-btn {
  border-radius: 10px;
  position: relative;
  border: 0;
  padding: 10px 15px;
  text-align: center;
  color: white;
  box-shadow: 0px 4px 0px #706f6f;
  background-color: #838383;
  text-decoration: none;
  width: 100px;
}

.code-btn:active {
  box-shadow: 0 0 #87a86f;
  background-color: #87a86f;
  top: 4px;
}
@media only screen and (max-width: 750px) {
  .work-container {
    margin: 0px;
  }

  .work-wrapper h1 {
    text-align: center;
    color: var(--accent-color-2);
    font-size: 28px;
  }

  .work-heading {
    font-size: 18px;
  }

  .work-desc {
    font-size: 16px;
  }
}

@media only screen and (min-width: 750px) {
  .work-container {
    margin: 0px;
  }

  .work-wrapper h1 {
    text-align: center;
    color: var(--accent-color-2);
    font-size: 30px;
  }

  .work-heading {
    font-size: 24px;
  }

  .work-desc {
    font-size: 17px;
  }
}
