.work-wrapper h1 {
  text-align: center;
  color: var(--accent-color-2);
  font-size: calc(var(--body-size) * 0.9);
}
.work-container {
  font-family: var(--main-font);
  color: var(--accent-color-2);
  text-align: left;
  font-weight: 300;
  margin: 0 8%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.work-item {
  background-color: rgba(255, 255, 255, 0.514);
  flex: 1 1 350px;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 25px;
}

.exp {
  background-color: var(--accent-color-2);
}

.proj {
  background-color: var(--main-color);
}

#proj-heading {
  color: var(--main-color);
}
.work-heading {
  padding: 20px;
  border-radius: 20px 20px 0px 0px;
  color: var(--background-color);
  font-size: calc(var(--body-size) * 0.65);
}

.work-desc {
  padding: 0 20px;
  font-size: calc(var(--body-size) * 0.5);
}

@media only screen and (max-width: 750px) {
  .work-container {
    margin: 0px;
  }

  .work-wrapper h1 {
    text-align: center;
    color: var(--accent-color-2);
    font-size: 17px;
  }

  .work-heading {
    font-size: 18px;
  }

  .work-desc {
    font-size: 16px;
  }
}
