@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

:root {
  /* ff7878,rgb(75, 68, 68),f3f0d7 */
  --main-color: #e0875e;
  --accent-color: rgb(88, 73, 73);
  --accent-color-2: #25494c;
  --background-color: #f6f0e9;
  --main-font: "Roboto", sans-serif;
  --heading-size: 3vw;
  --body-size: 28px;
}

body {
  background-color: var(--background-color);
}

.main-container {
  display: grid;
  place-items: center;
  row-gap: 50px;
}

.heading1 {
  font-family: var(--main-font);
  color: var(--main-color);
  font-size: var(--heading-size);
  font-weight: 700;
}

.heading2 {
  font-family: var(--main-font);
  color: var(--accent-color);
  font-size: var(--body-size);
  text-align: center;
  font-weight: 400;
  margin: 0 8%;
}

@media only screen and (max-width: 900px) {
  .main-container {
    padding: 25px;
  }
  .heading1 {
    font-size: 50px;
  }

  .heading2 {
    font-size: 28px;
    margin: 10px;
  }
}

@media only screen and (min-width: 900px) {
  .main-container {
    padding: 5% 25%;
  }
}
